body{
    background-color: black;
}
h1{
    text-transform: uppercase;
}
img{
    border: 5px solid white;
    width: 100%;
}
.container{
    width: 50%;
    margin-left: 25%;  
    text-align: center;
    color:#fff;
}

